<div class="nav-body">
  <div class="menu-logo">
    <img class="menu-icon" src="assets/images/menu-icon.png" alt="">
    <h3 class="logo-name">Notes</h3>
  </div>

  <div class="search-new-note">
    <div class="new-note">
      <span id="new-note-span">Заметка</span>
      <span id="new-note-icon">+</span>
    </div>

    <div class="search-place">
      <input type="text" placeholder="Поиск...">
      <img class="search-icon" height="40px" width="40px" src="assets/images/search-icon.png" alt="">
    </div>
    <img class="reload-icon" height="40px" width="40px" src="/assets/images/reload.png" alt="">
  </div>

  <div class="settings-user">
    <h3>Имя юзера</h3>
    <img height="40px" width="40px" src="assets/images/settings.png" alt="">
  </div>
</div>
