/* Box-sizing reset: //w3bits.com/?p=3225 */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* The Masonry Container */
.masonry {
  margin: 8vh auto;
  max-width: 94%;
  column-gap: 1.5em;
}

/* The Masonry Brick */
.item {
  border-radius: 10px;
  break-inside: avoid;
  min-width: 300px;
  background: #fff;
  padding: 1.5em;
  margin: 0 auto 2.5em;

}

.item-content{
  overflow: hidden;
  max-height: 600px;

  letter-spacing: .00625em;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  /*font-size: 16px;*/
}

/* Masonry on large screens */
/*@media only screen and (min-width: 1024px) {*/
/*  .masonry {*/
/*    column-count: 4;*/
/*  }*/
/*}*/

/*!* Masonry on medium-sized screens *!*/
/*@media only screen and (max-width: 1023px) and (min-width: 768px) {*/
/*  .masonry {*/
/*    column-count: 3;*/
/*  }*/
/*}*/

/*!* Masonry on small screens *!*/
/*@media only screen and (max-width: 767px) and (min-width: 540px) {*/
/*  .masonry {*/
/*    column-count: 2;*/
/*  }*/
/*}*/

/* Masonry on large screens */
@media only screen and (min-width: 1701px) {
  .masonry {
    column-count: 5;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1700px) and (min-width: 1531px) {
  .masonry {
    column-count: 4;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 1530px) and (min-width: 1201px) {
  .masonry {
    column-count: 3;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 821px) {
  .masonry {
    column-count: 2;
  }
}

.options-menu{
  text-align: right;
}

.modal-footer button{
  margin: auto;
  display: flex;
  background-color: #FF8800;
  border-radius: 50px;
}

.modal-footer img{
  flex: 1;
}

.modal-footer h4{
  flex: 1;
  margin: auto;
  margin-left: 5px !important;
}

.modal-footer:active img{
  transform: scale(1.2);
}

.color-button{
  width: 200px;
  height: 50px;
  margin: 5.18px;
  border-radius: 10px;
  outline: black;
}

.color-button:active{
  transform: scale(1.02);
}

.modal-title{
  margin: auto;
  font-weight: bold;
  font-size: 25px;
}

.form-control{
  /*border: none;*/
  box-shadow: none;
  resize: vertical;
  overflow-y: scroll;
  /*max-height: 400px;*/
  color: black;

  letter-spacing: .00625em;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

#noteText{
  height: 500px;
  padding: 15px;
}

.form-group label{
  font-weight: bold;
  font-size: 16px;
}

.form-control:focus {
  outline: 0;
  outline-offset: 0;
  box-shadow: none;
}

.modal-content{
  border-radius: 10px;
  opacity: 0.95;

}

