<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-2 fixed-top navbar-light amber lighten-1" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <img (click)="sideMenu.show();" src="assets/images/baseline_settings_black_36dp.png" alt="">
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect (click)="_navigate('note');">Заметки</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect (click)="_navigate('');">Архив</a>
      </li>
      <li class="nav-item" *ngFor="let item of topics"
          (click)="notesByTopic(item?.topic)">
        <a class="nav-link waves-light" mdbWavesEffect>{{item?.topic}}</a>
      </li>
      <li>
        <img (click)="sideMenu.show();" src="assets/images/baseline_settings_black_36dp.png" alt="">
      </li>

    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>


<!--/.Navbar-->

<div mdbModal #sideMenu="mdbModal" class="modal left fade" tabindex="-1" role="dialog"
     aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Topics</h4>
      </div>
      <div class="modal-body">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect (click)="_navigate('note');">Заметки</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect (click)="_navigate('');">Архив</a>
          </li>
          <li class="nav-item" *ngFor="let item of topics"
              (click)="notesByTopic(item?.topic)">
            <a class="nav-link waves-light" mdbWavesEffect>{{item?.topic}}</a>
          </li>
        </ul>
      </div>
      <div class="modal-footer" (click)="settingsWindow.show(); sideMenu.hide();">
        <button mdbBtn type="button" color="warning" rounded="true" mdbWavesEffect><img src="assets/images/baseline_settings_black_36dp.png" alt="">
          <h4>settings</h4>
        </button>
      </div>
    </div>
  </div>
</div>

<div mdbModal #settingsWindow="mdbModal" class="modal left fade" tabindex="-1" role="dialog"
     aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Settings</h4>
      </div>
      <div class="modal-body">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect (click)="_navigate('note');">Заметки</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--          [ngStyle]="{'background-color': item.color}"-->

<!--progress bar-->
<!--<div class="progress">-->
<!--  <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--</div>-->
<!--<div class="progress">-->
<!--  <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--</div>-->
<!--<div class="progress">-->
<!--  <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--</div>-->
<!--<div class="progress">-->
<!--  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--</div>-->
