.main{
  top: 0;
  position: fixed;
  background-color: orange;
  width: 79px;
  max-width: 79px;
  height: 100vh;
  transition: 0.15s;
}

.main:hover{
  /*transition: 0.35s;*/
  width: 380px;
  max-width: 380px;
}

.box{
  background-color: gray;
  border: solid .2px;
  display: flex;
  height: 50px;
}

.menu-icon{
  margin: auto 21px;
  background-color: greenyellow;
  height: 35px;
  width: 35px;
  min-width: 25px;
  border-radius: 50px;
}

.main .box h3{
  font-family: Gill Sans, sans-serif;
  font-weight: 600;
  margin: auto 0 auto 20px;
  opacity: 0;
  display: none;
}

.main:hover .box h3{
  transition-timing-function: ease-in-out;
  animation: vision  0.9s 1 forwards;
  display: block;
}

.main:hover .menu-icon{
  animation: vision 0.5s 1 reverse;
  display: none;
}

@keyframes vision{
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
